global
  #log stdout format raw local0
  log /dev/log local0 debug
  maxconn 256 
  pidfile /tmp/haproxy-queue.pid

defaults
  mode http
  timeout connect   6000ms
  timeout client  300000ms
  timeout server  300000ms
  maxconn 256 
  option redispatch
  retries 3
  option httpclose
  option httplog
  option forwardfor
  option httpchk HEAD / HTTP/1.0

frontend https-in
   log global
   bind *:443 ssl crt /conf/server-cert.pem ca-file /etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem verify optional
   mode http
   option forwardfor
   option http-server-close
   http-request set-header X-Client-Certificate %[ssl_c_der,base64]
   capture request header Origin len 128
   http-response add-header Access-Control-Allow-Origin %[capture.req.hdr(0)]             if { capture.req.hdr(0) -m dom dao.nrc.ca }
   http-response add-header Access-Control-Allow-Methods HEAD,POST,GET,OPTIONS,DELETE,PUT if { capture.req.hdr(0) -m dom dao.nrc.ca }
   http-response add-header Access-Control-Allow-Credentials true                         if { capture.req.hdr(0) -m dom dao.nrc.ca }
   http-response add-header Access-Control-Allow-Headers Authorization,DNT,User-Agent,Keep-Alive,Content-Type,accept,origin,X-Requested-With if { capture.req.hdr(0) -m dom dao.nrc.ca }
   default_backend cadc-service

backend cadc-service
   mode http
   server cadc-service cadc-service:8080

